<% include ../partials/header %>
<div class="container">
  <header class= "jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!!</h1>
      <p>View our hand-picked campgrounds from all over the worlds!</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New CampGrounds</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style= "display:flex; flex-wrap: wrap;">
        <% for (let i = 0; i < campgrounds.length; i++) {%>
          <div class = "col-md-3 col-sm-6">
              <div class="thumbnail">
                <img src="<%= campgrounds[i].image; %>" alt="">
                <div class="caption">
                  <h4><%= campgrounds[i].name; %></h4>
                </div>
                <p>
                    <a href= "/campgrounds/<%= campgrounds[i]._id %>" class= "btn btn-primary">More Info </a>
                </p>
              </div>
          </div>
        <% } %>
  </div>
  <% include ../partials/footer %>

</div>
