<%include partials/header %>
    <link rel="styleshelet" href="css/results.css">
  </head>
<body>

  <div class="container">
    <header class= "jumbotron">
      <div class="container">
        <h1>Results</h1>
        <p>
          <a class="btn btn-primary btn-large" href="/">Back to Search</a>
        </p>
      </div>
    </header>

    <div class="row" style="display:flex; flex-wrap:wrap;">
          <% data["Search"].forEach(function(movie){ %>
            <div class = "col-md-3 col-sm-6">
                <div class="thumbnail">
                <img src="<%= movie["Poster"]%>" alt="" width = 240px;>
                  <div class="c
                  aption">
                    <h4><%= movie["Title"] %> - <%=movie["Year"]; %></h4>
                  </div>
                </div>
            </div>
          <% }); %>
    </div>
    <% include partials/footer %>

  </div>
