<%# Authur: Yu Zhou%>
    <%include partials/header %>
        <script src="https://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
        <link rel="stylesheet" href="css/search.css">
        </head>


        <body>
            <!--Video Section-->
            <section class="video-section">
                <div class="pattern-overlay">
                    <div class="container ">
                        <!--background video-->
                            <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=NZlfxWMr7nc',
                                containment:'body',
                                quality:'hd720',
                                autoPlay:true,
                                mute:true,
                                startAt: 6,
                                opacity: 1}"
                                >
                            </a>

                            <script>
                              $(document).ready(function() {

                                  $(".player").mb_YTPlayer();

                              });
                            </script>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>IMovieYu</h1>
                                    <h3>Welcome to Yu's movie searching site</h3>
                                </div>
                            </div>

                            <div id= "search">
                              <form action="/results" method="GET">
                                  <input type="text" name="movieName" placeholder="Enter a movie name">
                                  <button>Search</button>
                              </form>
                            </div>
                            <!--/row-->
                    </div>
                    <!--/container-->
                </div>
                <!--/pattern-->
            </section>
            <script src="js/app.js" charset="utf-8"></script>

            <%include partials/footer %>
