<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Love</title>
  </head>
  <body>
    <h1>you fell in love with: <%= thingVar %></h1>
    <p>P.S. this is from love.ejs</p>
  </body>
</html>
