i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

/*----------custom----------*/

.right.chevron.icon {
    font-size: 1em;
}

.description {
    margin-bottom: 10px;
}

.content {
    margin: 10 0px;
}
