<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>找狼网</title>

      <%# Semantic UI%>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">

      <%# Customized CSS%>
      <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
