*{
  font-family: 'Yatra One', cursive;
}

h1{
  /*color:black;*/
  border: thin solid black;
  /*margin-left: 50%;*/
  width: 20%;
  font-family: 'Monoton', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0px auto 0px auto
}

table{
  margin: auto;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

/*div:nth-of-type(1){
  text-align: center;
}*/

.log_in{
  text-align: center;
}

.image{
  align-content: center;
}

.role{
  /*border: thin hidden black;
  margin: auto;
  width: 50%;*/
}

span{
  font-size: 2em;
}

li{
  /*color: blue;*/
}

.crossed{
  text-decoration: line-through;
}

.best{
  text-decoration: underline;
  width: 20%;
  border: thin solid black;
  background: yellow;
}

body{
  background-color: pink;
  /*background: url(http://cdn.paper4pc.com/images/subtle-wallpaper-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}
