<h1>hi</h1>

<%# either go to secret page

    or

    go back to log in%>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
