<% include partials/header %>

<h1>Create a new Campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <input type="text" name="description" placeholder="description">

    <button>Submit</button>
</form>

<a href="/campgrounds">Go back</a>

<% include partials/footer %>
