/*body{
  background: black;
}*/

.content, .navbar{
  margin-top: 2em;
}

.main.text.container{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.ui.centered.rounded.large.image{
  margin-top: 1.5em;
}
