ul {
   padding:0;
   list-style:none;
}

.bg-1,body, html, main {
    /* important */
     height: 100%;
}

.bg-1{
    text-align: center;
    background-color: #F5F3EE;
    color: #7D1935;
    z-index: 99;
}

.image{
  margin-top: 5%;
  margin-bottom: 10%
}
